@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .navbar-item {
        position: relative;
    }

    .navbar-item::before {
        content: "";
        width: 0;
        position: absolute;
        display: block;
        bottom: -5px;
        height: 2px;
        border-radius: 10px;
        background-color: white;
        transition: .5s;
    }

    .navbar-item:hover::before {
        width: 100%;
    }

}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.dishes_card:hover .dishes_card_link {
    display: flex;
}

@media (min-width: 1024px) {
    #feature_slider {
        max-width: calc(100% - 355px)!important;
    }
}