@tailwind base;
@tailwind components;
@tailwind utilities;
body,html{
    position: relative;
    scroll-behavior: smooth;
}
@layer utilities {
    .navbar-item {
        position: relative;
    }
    .navbar-item::before {
        content: "";
        width: 0;
        position: absolute;
        display: block;
        bottom: -2px;
        height: 5px;
        border-radius: 10px;
        background-color: #fda72f;
        transition: .5s;
    }

    .navbar-item__active {
        position: relative;
    }

    .navbar-item__active::before {
        content: "";
        width: 100%;
        position: absolute;
        display: block;
        bottom: -2px;
        height: 5px;
        border-radius: 10px;
        background-color: #fda72f;
        transition: .5s;
    }

    .navbar-item:hover::before {
        width: 100%;
    }

    .shop-car__option {
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s 0s, visibility 0s .3s;
    }

    .shop-card:hover .shop-car__option {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
    }

}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.dishes_card_link, .dishes-image__like {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.dishes_card:hover .dishes_card_link, .dishes_card:hover .dishes-image__like {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}


@media (min-width: 1024px) {
    #feature_slider {
        max-width: calc(100% - 355px)!important;
    }
}

.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

/*double range styles For Chrome browsers */
.thumb::-webkit-slider-thumb {
    background-color: #81B13D;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-top: 5px;
    pointer-events: all;
    position: relative;
}

/*double range styles For Firefox browsers */
.thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-top: 5px;
    pointer-events: all;
    position: relative;
}
